body {
    background-color: rgb(31, 34, 53);
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }



  /* HEADER */
.header__header-grid{
  max-width: 1252px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.header__header-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerStyles{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



  .header__nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }